<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MovieMe!</title>

   
    {% load static %}
   
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'movies/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'movies/freelancer.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'movies/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">MovieMe</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/movies">All movies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#portfolio">Popular movies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="page-scroll">
                        <a href="/movies/wishlist/{{user.id}}">Wish List</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="label-primary"><a href="{% url 'movies:profile' user.id %}">My profile</a></li>
                            <li class="label-primary"><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/login">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center>
                            <h2>{{ movie.name }}</h2>
                            <hr class="star-primary">
                            <img src="{{movie.image.url}}" alt="{{movie.name}}" class="img-responsive img-centered portfolio-img"><br>
                            <p> Rating: <strong> {{ movie.avg_rating }}/10 </strong> </p>
                            {% if user.is_authenticated %}
                            {% if not isRated %}
                            <form action="{% url 'movies:rate' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                <input type="hidden" name="movie_id" value="{{movie.id}}">
                            	<fieldset class="rating">
							    <input type="radio" id="star5" name="rating" value="10" /><label class = "full" for="star5" title="Awesome"></label>
							    <input type="radio" id="star4half" name="rating" value="9" /><label class="half" for="star4half" title="Very good"></label>
							    <input type="radio" id="star4" name="rating" value="8" /><label class = "full" for="star4" title="Pretty good"></label>
							    <input type="radio" id="star3half" name="rating" value="7" /><label class="half" for="star3half" title="Good"></label>
							    <input type="radio" id="star3" name="rating" value="6" /><label class = "full" for="star3" title="Fine"></label>
							    <input type="radio" id="star2half" name="rating" value="5" /><label class="half" for="star2half" title="Meh"></label>
							    <input type="radio" id="star2" name="rating" value="4" /><label class = "full" for="star2" title="Kinda bad"></label>
							    <input type="radio" id="star1half" name="rating" value="3" /><label class="half" for="star1half" title="Pretty bad"></label>
							    <input type="radio" id="star1" name="rating" value="2" /><label class = "full" for="star1" title="Very bad"></label>
							    <input type="radio" id="starhalf" name="rating" value="1" /><label class="half" for="starhalf" title="Sucks big time"></label>
								</fieldset>
                                <button id="submit" name="submit" class="btn btn-success btn-lg btn-block">Rate movie</button>
                            </form>
                            {% endif %}
                            {% endif %}
							<br>
							<p>{{movie.description}}  </p> 
                            <p> Stars: <strong>  {{movie.actors}} </strong> </p>
                            <ul class="list-inline item-details">
                                <li>Year:
                                    <strong> {{movie.year}} </strong>
                                </li>
                                <li>Genre:
                                    <strong>  {{movie.genre}} </strong>
                                </li>
                                <li>Runtime:
                                    <strong>{{movie.runtime}}</strong>
                                </li>
                                <li>Language:
                                    <strong> {{movie.language}} </strong>
                                </li>
                                <li>Country:
                                    <strong>  {{movie.country}} </strong>
                                </li>
                            </ul>
                            <br>
                            <a href="/movies"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Back</button></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This website has been created as a project for Software Process Management at UNIBZ. It uses a mix of Django, Python, MySQL, Slack and TravisCI, including of course HTML and CSS for the appereance.</p>
                </div>
                <div class="col-lg-4">
                    <p>The website alows a logged in user to browse through movies, see their details, as well as ranking them, adding them to their wish list, and other operations of the kind.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>Bolzano/Bozen
                            <br>Italy, 39100</p>
                    </div>
            
                    <div class="footer-col col-md-6">
                        <h3>About MovieMe</h3>
                        <p>MovieMe is a free to use, open source web application for movie management created by The EMSE team.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; MOVIEME 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="{% static 'movies/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'movies/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

     <!-- Theme JavaScript -->
    <script src="{% static 'movies/js/freelancer.min.js' %}"></script>

</body>

</html>
