<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MovieMe!</title>

   
    {% load static %}
   
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'movies/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'movies/freelancer.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'movies/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">MovieMe</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/movies">All movies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#portfolio">Popular movies</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="page-scroll">
                        <a href="/movies/wishlist/{{user.id}}">Wish List</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="label-primary"><a href="{% url 'movies:profile' user.id %}">My profile</a></li>
                            <li class="label-primary"><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/login">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br><br>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>All movies</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            	{% if movies %}
				    {% for movie in movies %}
				        <div class="col-sm-3 portfolio-item">
		                    <a href="{% url 'movies:detail' movie.id %}" class="portfolio-link" data-toggle="modal">
		                        <div class="caption">
		                            <div class="caption-content">
		                                <i>{{ movie.name }}</i>
		                            </div>
		                        </div>
                                <div class="show-image">
    		                        <img src="{{movie.image.url}}" alt="{{movie.name}}" class="portfolio-img">
                                </div>

		                    </a>
                            {% if user.is_authenticated %}
                                {% if not movie.wishlist %}
                                    <input class="the-buttons" type="button" value=" Add to Wish list" id="add-wishlist" data-id="{{movie.id}}-{{user.id}}"/>
                                {% endif %}
                            {% endif %}
		                </div>
				    {% endfor %}
				{% else %}
				<center><h1><p>Sorry, movies are not available.</p></h1></center>
				{% endif %}
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-right">
                {% if movies.has_previous %}
                <h3><a href="?page={{ movies.previous_page_number }}">Previous</a> </h3>
                {% endif %}
            </div>
            <div class="col-sm-4 text-center">
                <h3> Page {{ movies.number }} of {{ movies.paginator.num_pages }}. </h3>
            </div>
            <div class="col-sm-4 text-left">
                {% if movies.has_next %}
                <h3><a href="?page={{ movies.next_page_number }}">Next</a></h3>
                {% endif %}
            </div>
        </div>
    </div>

    <br><br>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This website has been created as a project for Software Process Management at UNIBZ. It uses a mix of Django, Python, MySQL, Slack and TravisCI, including of course HTML and CSS for the appereance.</p>
                </div>
                <div class="col-lg-4">
                    <p>The website alows a logged in user to browse through movies, see their details, as well as ranking them, adding them to their wish list, and other operations of the kind.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>Bolzano/Bozen
                            <br>Italy, 39100</p>
                    </div>
            
                    <div class="footer-col col-md-6">
                        <h3>About MovieMe</h3>
                        <p>MovieMe is a free to use, open source web application for movie management created by EMSE team.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; MOVIEME 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{% static 'movies/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'movies/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

     <!-- Theme JavaScript -->
    <script src="{% static 'movies/js/freelancer.min.js' %}"></script>

      <!-- Custom javascript for adding movie in wish list !-->
    <script src="{% static 'movies/js/wishlist.js' %}"></script>


</body>

</html>
