#portfolio .portfolio-item .portfolio-link .caption {
  width: 182px;
}

.label-primary {
  background-color: #2C3E50;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #18BC9C;
}

.dropdown-menu {
	background-color: #2C3E50;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #18BC9C;
  color: white;
}

.portfolio-img {
	height: 268px;
	width: 182px;
}
div.show-image
  {
  position: relative;
  float:left;
  margin:5px;
  }

div.show-image:hover input
  {
  display: block;
  }

div.show-image input
  {
  position:absolute;
  top:0;
  left:0;
  display:none;
  }